body {
  background-image: url('../pattern.png');
}
.jumbotron{
  background-color: #343940;
  color: white;
}
.panel-heading{
  background-color: #343940 ;
  color: white ;
}
.panel-body{
  background-color: #c1c9d4 ;
  color: #2b2b2b;
  word-break:break-all;
}
.navbar-brand{
  background-color: black;
}
.chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    border:1px solid #ACD8F0;
    overflow:auto; }
