{% extends 'index.html' %}
{% block cabecera %}
<script type="text/javascript">

      function initMap(){

      x = navigator.geolocation;

      x.getCurrentPosition(success, failure);

      function success(position)

      {
        var myLat = position.coords.latitude;
        var myLong = position.coords.longitude;

        //alert(myLat);

        var coords = new google.maps.LatLng(myLat,myLong);

        var mapOptions = {

          zoom:11,
          center: coords,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var marker = new google.maps.Marker({map:map, position:coords});
      }

      function failure(){ }

      }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHWD7FWauZoIEpRqhy2-KbZ3NS5XcsGdc&callback=initMap"
  type="text/javascript"></script>
{% endblock cabecera %}
{% block titulo %}
Mapa
{% endblock titulo%}
{% block cuerpo %}
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h4>Mapa</h4>
  </div>
  <div class="panel-body">
    <div id="map" style="width: 500px; height: 500px;"></div>
  </div>
</div>
{% endblock cuerpo %}
