{% extends 'index.html'%}
{% load crispy_forms_tags %}
{% block encabezado%}
{% endblock encabezado%}

{% block titulo %}Registrar Mascota{% endblock titulo %}
{% block cuerpo %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Registrar Mascota</h4>
  </div>
  <div class="panel-body">
    <form role="form" method="post">
      {% csrf_token %}
      {{mascota_form|crispy}}
      <button type="reset" class="btn btn-default">Limpiar</button>
      <button type="submit" class="btn btn-default" name="send">Registrar mascota</button>
    </form>

    <script>
      window.onload=function(){
        var razas_perro = ["Weimaraner","Viejo Pastor Inglés","Terrier Yorkshire","Terrier Escocés","Terranova",
        "Springer Spaniel","Shih Tzu","Shiba Inu","Shar Pei","Schnauzer Miniatura","San Bernardo","Rottweiler",
        "Pug","Poodle","Pomeranio","Pitbull terrier","Pinscher","Corgi","Pekinés","Pastor de Shetland","Pastor Australiano",
        "Pastor Alemán","Malamute de Alaska","Labrador Retriever","Husky Siberiano","Gran Danés","Golden Retriever",
        "Galgo","Flat Coated Retriever","Doberman","Dálmata","Dachshund","Collie","Cocker Spaniel","Chow Chow","Chihuahua",
        "Bulldog francés","Bulldog","Bóxer","Boston Terrier","Border Collie","Basset Hound","Akita americano","Criollo"];

        var razas_gato = ["Curl Americano","Búrmes","Munchkin","Devon Rex","Oriental","Scottish Fold","Van Turco",
        "Korat","Somalí","Sphynx","Siberiano","Exótico","Birmano","Bosque de Noruega","Bengalí","Abisinio","Balinés",
        "Maine Coon","British Shorthair","Ruso Azul","Bombay","Persa","Siamés","Ragdoll","Criollo"];

      	var tipo_mascota = document.getElementById("id_tipo")
        var razas = document.getElementById("id_raza")
        var enfermedades = document.getElementById("id_enfermedades")
        razas.options.length = 1;
        //enfermedades.disabled = false;



        tipo_mascota.addEventListener("change",function(){
          //document.write(enfermedades[0])
          var razas2 = document.getElementById("id_raza")
          razas2.options.length = 1;

          if (tipo_mascota.value == "Perro"){
            agregar_razas(razas, razas_perro);
          }
          else if (tipo_mascota.value == "Gato"){
            agregar_razas(razas, razas_gato);
          }

          /*for (var i=0, n=checkboxes.length;i<n;i++)
          {
              if (checkboxes[i].checked)
              {
                  vals += ","+checkboxes[i].value;
              }
          }
          if (vals) vals = vals.substring(1);*/
      	});
      };

      function agregar_razas(elemento, valores){
        for (i = 0; i < valores.length; i++){
          var raza = valores[i]
          var option = document.createElement("option");
          option.text = raza;
          elemento.add(option)
        }
      };

    </script>
  </div>
</div>
{% endblock cuerpo %}
