{% extends 'index.html'%}
{% load crispy_forms_tags %}
{% block encabezado%}
{% endblock encabezado%}

{% block titulo %}Ver Conversación{% endblock titulo %}
{% block cuerpo %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ver Conversación</h4>
  </div>
  <div class="panel-body">
    <h5>Título: {{conversacion.titulo}}</h5>
    <h5>Tópico: {{conversacion.topico}}</h5>
    <h5>Dueño: {{conversacion.usuario}}</h5>
    <div class="chatbox">

      {% for mensaje in conversacion.mensaje_set.all %}
      <p>
        ({{mensaje.fecha}})
        <b>{{mensaje.usuario}}:</b>
        {{mensaje.contenido}}
      </p>
      {% endfor %}
    </div>
    <form role="form" method="post">
      {% csrf_token %}
      {{mensaje_form|crispy}}
      <button type="reset" class="btn btn-default">Limpiar</button>
      <button type="submit" class="btn btn-default" name="send">Confirmar</button>
    </form>
  </div>
  <script>
    window.onload=function(){
      document.getElementById('id_contenido').value = '';
    };
  </script>
</div>
{% endblock cuerpo %}
