{% extends 'index.html'%}
{% load crispy_forms_tags %}
{% block encabezado%}
{% endblock encabezado%}

{% block titulo %}Ver Conversación{% endblock titulo %}
{% block cuerpo %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ver Conversación</h4>
  </div>
  <div class="panel-body">
    <form role="form" method="post">
      {% csrf_token %}
      {{mensaje_form|crispy}}
      <button type="reset" class="btn btn-default">Limpiar</button>
      <button type="submit" class="btn btn-default" name="send">Confirmar</button>
    </form>
  </div>
</div>
{% endblock cuerpo %}
